// Fonts
$font-poppins: "Poppins", sans-serif;
$font-lato: "Lato", sans-serif;

// Font Sizes
$font-size-11: 1.1rem; // 11px
$font-size-14: 1.4rem; // 14px
$font-size-16: 1.6rem; // 16px
$font-size-18: 1.8rem; // 18px
$font-size-20: 2rem; // 20px
$font-size-27: 2.7rem; // 20px
$font-size-28: 2.8rem; // 28px

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

// Letter spacing
$letter-spacing-bg: 1px;

// Line height
$line-height-default: 160%;
$line-height-smaller: 159.1%;

// Colors
$color-text-primary: #4d4d4d;
$color-text-secondary: #9f938b;
$color-button-fill: #bfabab;
$color-white: #fff;
