*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; //1 rem = 10px;

  @include respond(sm-desktop) {
    font-size: 56.25%; //1 rem = 9px
  }
}

body {
  font-family: $font-poppins;
  background-color: $color-white;
  font-weight: $font-weight-regular;
}

button {
  border: none;
  background-color: $color-white;
  cursor: pointer;
}
